* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ABeeZee', sans-serif;
}
header{
    width: 100%;
    height: 15vh;
    padding: 10px 100px;
    background-color: #343434;
    
}
nav {
    width: 100%;
    height: 100%;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    letter-spacing: 2px;
    margin-left: 10px;
}
.logoa{
    width: 140px;
}
nav ul li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    color: rgb(255, 55, 55);
}
.icon1 {
    width: 50px;
    cursor: pointer;
    transition: .3s;
   
}
ul li a:hover {
    color: rgb(255, 255, 255);
}
.img-cao{
    margin-top: 4em;
    margin-left: 12em;
    width: 60em;
}
/*
.carrosel1 {
    align-items: center;
    justify-content: center;
}*/
h5 {
    color: white;
    font-size: 34px;
}
p{
    color: white;
}
.titulo23 {
    margin-left: 6em;
}
.img-card {
    width: 220px;
    vertical-align: middle;
    max-width: 30vw;
    transition: 1s;
}
.img-card:hover {
    transform: scale(1.1);
}
footer {
    background-color: #343434;
    width: 100%;
    height: 8em;
}
.font-footer {
    color: white;
    font-family: 'ABeeZee', sans-serif;
}